.header {
	background: blue;
	font-size: 33px;
	margin: 20px; 
	padding: 20px;
}

.footer {
	background: yellow;
	font-size: 33px;
	margin: 20px; 
	padding: 20px;
}

.left {
	float: left; 
	width: 30%; 
	height: 200px; 
	background: blue; 
	padding: 30px; 
	border: 10px solid yellow; 
	box-sizing: border-box;
}

.right {
	float: left; 
	width: 70%; 
	height: 200px; 
	background: yellow; 
	padding: 30px; 
	border: 10px solid blue; 
	box-sizing: border-box;
}